.cor {
  background-color: #00a5c8;
}

.cor-fonte {
  color: #FFF;
}

.imagem {
  height: 45px;
}

.cor-botao {
  background-color: #00a5c8;
}

.alinha {
  text-align: center;
}

body {
  padding-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.main__body {
    background-color: #fafafa;
    padding-top: 20px;
}

.login__page {
    margin-top: 15px;
    padding-bottom: 25px;
    vertical-align: middle;
}


.login__card {
    padding: 20px;
    /*margin: 20px 0;*/
}

*{
  font-family: 'Raleway', sans-serif;
}