<app-menu></app-menu> 
<div class="main__body cor-fundo fill">
  <div class="container fill">
    <div class="login__page espacamento">
      <div class="card col-md-4 margem">
        <img src="assets/img/Socorro1.png" alt="Socorro" class="img-responsive img-circle img">
      </div>
      <div class="card col-md-8">
        <h2 class="row texto-header">Chegamos ao final do teste!</h2>
        <p class="row texto">Você obteve o nível
          <strong class="jr">Rookie!</strong>
        </p>
        <p class="row">Isso significa que você tem muito potencial e a oportunidade de desenvolver muitas habilidades que te ajudarão no
          mercado digital!
        </p>
        <p class="row"> Sabia que a cada ano o número de profissionais envolvidos com o
          <strong>Marketing Digital</strong>
          aumenta? E você tem a curiosidade e a vitalidade necessárias para fomentar essa difícil área de trabalho. Por isso, suas
          <strong>capacidades técnicas
          </strong> e pessoais devem ser alimentadas a cada dia, para que você possa
          <strong>crescer</strong> com qualidade!</p>
        <p class="row">Como
          <strong class="jr">Rookie</strong>, sua missão é seguir adquirindo
          <strong>conhecimentos</strong> e agarrar as oportunidades que surgirem em seu caminho para mostrar que você pode fazer
          a diferença! Lembre-se sempre de ter muito foco e garra, pois isso faz muita diferença nesse
          <strong>mundo digital!</strong>
        </p>
      </div>
    </div>
    <div class="card col-md-12">
      <h2 class="row texto-melhorar text-center">Pensando nessa evolução, sugerimos a você alguns materiais que podem te dar umas dicas importantes!</h2>
      <p class="row link text-center">
        <a href="https://universidade.rockcontent.com/cursos/inbound-marketing/">Curso de Inbound Marketing</a>
      </p>
      <p class="row link text-center">
        <a href="https://universidade.rockcontent.com/cursos/producao-de-conteudo-para-web/">Produzindo Conteúdo para Web 2.0</a>
      </p>
    </div>
  </div>
</div>
<app-rodape></app-rodape>