<app-menu></app-menu>
<div class="main__body cor-fundo">
  <div class="container">
    <div class="login__page espacamento">
      <div class="card col-md-4 margem">
        <img src="assets/img/Socorro2.png" alt="Socorro" class="img-responsive img-circle img">
      </div>
      <div class="card col-md-8">
        <h2 class="row texto-header">Chegamos ao final do teste!</h2>
        <p class="row texto">Seu nível é
          <strong class="pl">Brave!</strong>
        </p>
        <p class="row">Isso significa que você tem coragem de aprender e trabalhar duro e já passou por umas boas experiências até aqui!</p>
        <p class="row">A disposição e a vontade de fazer mais são fundamentais para um bom profissional de
          <strong>Marketing Digital</strong>, e isso você tem de sobra. Você lida bem com o volume de trabalho que chega até você
          e suas qualidades técnicas podem fazer de
          <strong>você um diferencial</strong> para a sua equipe em muitas situações. </p>
        <p class="row">Tenha em mente que você pode ser o espelho de outras pessoas, portanto esforce-se e mostre sempre muita
          <strong>disposição e engajamento</strong> na busca por soluções.
        </p>
      </div>
    </div>
    <div class="card col-md-12">
      <h2 class="row texto-melhorar text-center">Pensando no seu crescimento continuo, sugerimos alguns materiais que podem te dar umas dicas importantes!</h2>
      <p class="row link text-center">
        <a href="https://marketingdeconteudo.com/dicas-para-o-certificado-do-google-adwords/">Dicas para o certificado de Google Adwords</a>
      </p>
      <p class="row link text-center">
        <a href="https://resultadosdigitais.com.br/blog/geracao-de-leads/">Geração de Leads</a>
      </p>
    </div>
  </div>
</div>
<app-rodape></app-rodape>