<app-menu></app-menu>
<div class="main__body cor-fundo">
  <div class="container">
    <div class="login__page espacamento">
      <div class="card col-md-4">
        <img src="assets/img/Socorro.png" alt="Socorro" class="img-responsive img-circle img">
      </div>
      <div class="card col-md-8">
        <h2 class="row texto-header">Muito Bem! Aqui estão seus resultados:</h2>
        <p class="row texto">Você obteve o nível
          <strong>Pleno</strong>
        </p>
        <!-- To do -->
        <p class="row texto">Texto descritivo das atribuiçoes medias do cargo</p>
        <!-- To do -->
      </div>
    </div>
    <div class="card col-md-12">
      <h2 class="row texto-header">Como posso melhorar?</h2>
      <!-- To do como posso melhorar -->
    </div>
  </div>
</div>
<app-rodape></app-rodape>