*{
  font-family: 'Raleway', sans-serif;
}

.fill {
  height: 100%;
}

.botao-laranja {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #ea5c37;
  border: none;
  border-bottom: 5px solid #e93d13;
  color: #FFF;
}

.img {
  max-height: 250px;
  text-align: center;
  margin: 0 auto;
}

.pergunta {
  color: #ea5c37;
}

.navbar {
  margin-bottom: 20px;
}

.main__body {
    background-color: #fafafa;
    padding-top: 40px;
}

.login__page {
    margin-top: 15px;
    padding-bottom: 25px;
    vertical-align: middle;
}


.login__card {
    padding: 20px;
    /*margin: 20px 0;*/
}

.titulo {
  color: #94c13d;
  margin-top: 50px;
}

.conteudo {
  color: #00a5c8;
  margin-bottom: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .fill {
    height: auto;
  } 
}