<app-menu></app-menu>
<div class="main__body cor-fundo">
  <div class="container">
    <div class="login__page espacamento">
      <div class="card col-md-4 margem">
        <img src="assets/img/Socorro3.png" alt="Socorro" class="img-responsive img-circle img">
      </div>
      <div class="card col-md-8">
        <h2 class="row texto-header">Chegamos ao final do teste!</h2>
        <p class="row texto">Seu nível é
          <strong class="sr">Handy!</strong>
        </p>
        <p class="row">Isso significa que suas habilidades estão afiadas e seu potencial de trabalho está em foco no seu dia-a-dia!</p>
        <p class="row">Um bom e experiente profissional é indispensável para a saúde de qualquer equipe de trabalho. Pois bem, você já havia
          pensado que você poderia ser esta pessoa? Suas qualidades e <strong>capacidades</strong> estão de acordo com as de um <strong>profissional
          experiente</strong>, e manter o nível neste momento de consolidação é importante, para que você continue se reinventando
          e descobrindo novos meios de aprender e desenvolver habilidades em seu cotidiano.</p>
        <p class="row">Saiba que conciliar o melhor das suas práticas e se tornar <strong>fundamental</strong> para o desenrolar de atividades importantes
          dos seus projetos. Mantenha-se focado, e, certamente, bons frutos serão colhidos!
        </p>
      </div>
    </div>
    <div class="card col-md-12">
      <h2 class="row texto-melhorar text-center">Confira agora uns materiais bastante interessantes que separamos para te ajudar neste processo!</h2>
      <p class="row link text-center">
          <a href="https://www.udemy.com/introducao-ao-growth-hacking/">Introduçao ao Marketing Exponencial & Growth Hacking</a>
        </p>
        <p class="row link text-center">
          <a href="http://www.growthhack.com.br/curso-growth-hacking/">Curso Growth Hacking</a>
        </p>
    </div>
  </div>
</div>
<app-rodape></app-rodape>