<app-menu></app-menu>
<div class="main__body cor-fundo">
  <div class="container">
    <div class="login__page alinhamento align-middle">
      <div class="card col-md-12 margem">
        <img src="assets/img/Socorro.png" alt="Socorro" class="img-responsive img-circle img">
      </div>
      <div class="card col-md-12">
        <h2 class="row cor-azul">Como o teste funciona?</h2>
        <p class="row texto">O teste contém questões dos mais diversos conteúdos sobre Marketing Digital, cada questão contém um peso, que no
          final será indicado uma pontuação, medindo a sua senioridade e dependendo de sua pontuação, você será classificado
          como
          <span class="junior">Júnior</span>,
          <span class="pleno"> Pleno</span> ou
          <span class="senior">Sênior</span>.</p>
        <h2 class="row cor-azul">E aí, pronto para começar?</h2>
        <button type="buton" class="btn botao-comecar" style="margin-bottom: 20px" routerLink="/teste">
          Começar!
        </button>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end container -->
</div>