*{
  font-family: 'Raleway', sans-serif;
}

.fill {
  height: 100%;
}

body {
  padding-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.main__body {
    background-color: #fafafa;
    padding-top: 20px;
}

.login__page {
    margin-top: 15px;
    padding-bottom: 25px;
    vertical-align: middle;
}


.login__card {
    padding: 20px;
    /*margin: 20px 0;*/
}

.cor-fundo {
  background-color: rgba(0, 165, 200, 0.4);
}

.cor-azul {
  color: #00A5C8;
  font-weight: bold;
  text-align: center;
}

.botao-comecar {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #ea5c37;
  border: none;
  border-bottom: 5px solid #e93d13;
  color: #FFF;
}

.texto-socorro {
  margin-left: 100px;
  margin-right: 100px;
}

.img {
  max-height: 250px;
  text-align: center;
  margin: 0 auto;
}

.junior {
  font-weight: bold;
  color: #8eb939;
}

.pleno {
  font-weight: bold;
  color: #00A5C8; 
}

.senior {
  font-weight: bold;
  color: #e93d13;
}

.texto {
  font-weight: bold;
}

.margem {
  margin-top: 20px;
}

.alinha {
  margin-top: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .fill {
    height: auto;
  }
  .texto-socorro {
    margin-left: 0px;
    margin-right: 0px;
  }
}